.like {
    display: flex;
    align-items: center;
    /* borda apenas em cima e embaixo */
    border: 1px solid var(--cinza);
    border-width: 1px 0;
}

#home .like {
    border: none;
}

.like svg {
    font-size: 1.5em;
    cursor: pointer;
}

.like p {
    margin-left: 1em;
}