.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corFundo);
    color: var(--corTexto);
}

.footer span {
    font-weight: bold;
    color: var(--azulReact);
}